///// header-banner
.header-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    // position: fixed;
    // z-index: -1;
    object-fit: cover;
    width: 100%;
    max-height: 60vh;
  }
  h1 {
    z-index: 1;
    position: absolute;
    text-align: center;
    align-self: center;
    color: ghostwhite;
    font-size: 4rem;
  }
}

///////FORM
.form {
  margin: 10% 10px;
  //   margin: 10%;
  //   width: 50%;
  position: relative;
  height: 70px;
  overflow: hidden;

  input {
    width: 100%;
    height: 100%;
    // color: #595f6e;
    padding-top: 20px;
    border: none;
    background-color: ghostwhite;
  }
  label {
    position: absolute;
    color: black;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
  }
  label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid $blue-color;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
}
.form-focus {
  label::after {
    transform: translateX(0%);
  }
}
// .label-name-focus {
//   label::after {
//     transform: translateX(0%);
//   }
// }
.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}
.content-name-focus {
  transform: translateY(-150%);
  font-size: 14px;
  color: $blue-color;
}
///////END-FORM

/////////
.formTextArea {
  height: 140px;
  textarea {
    width: 100%;
    height: 100%;
    // color: #595f6e;
    padding-top: 20px;
    border: none;
    background-color: ghostwhite;
    resize: none;
    // ::focus {
    //   border: none;
    // }
  }
}
.formTextArea-focus {
  transform: translateY(-500%);
  font-size: 14px;
  color: $blue-color;
}

/////////
