// ITEM CTG SECTION

.ctg-flex {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  background: url("../img/pexels-photo-2832039.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

// .group-button {
//   margin: 0 10px;
//   cursor: pointer;
//   display: flex;
//   flex-direction: column;
//   min-width: 10%;
//   :hover {
//     font-weight: bold;
//   }
// }

// .group-total {
//   border: 1px gray solid;
//   background-color: whitesmoke;
//   border-radius: 5px;
//   padding: 10px;
//   margin: 0 10px;
//   display: flex;
//   flex-direction: column;
//   min-width: 10%;
//   * {
//     margin: 2px;
//     cursor: pointer;
//   }
//   h3 {
//     text-align: center;
//   }
// }

@media screen and (max-width: 1200px) {
  .group-button {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .group-button {
    display: none;
  }
}

/* ITEMS SECTION */
.items {
  display: grid;
  grid-template-columns: 1fr;

  grid-gap: 25px;
  // margin: auto;
  // justify-items: center;
  // border: 10px solid #ff0000;
}

/* ITEM SECTION */
.item {
  // width: 10px;
  // border: 1px grey double;
  background-color: rgba(245, 245, 245, 0.8);
  background-color: white;
  display: flex;
  width: 99%;
}
.item a {
  text-decoration: none;
  color: #555555;
  line-height: 2rem;
}
.item img {
  padding-top: 30px;
}

@media all and (min-width: 600px) {
  .items {
    width: 95%;
  }
}
@media all and (min-width: 800px) {
  .items {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }
}
@media all and (min-width: 1200px) {
  .items {
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-columns: repeat(autofill, minmax(500px, 1fr));
    width: 80%;
  }
}
@media all and (min-width: 1400px) {
  .items {
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
  }
}
