/* NAVBAR SECTION */

// .navbar {
//   outline: 10px ridge royalblue;
//   border: 10px ridge royalblue;
//   background-color: cadetblue !important;
//   background-color: $blue-color !important;
// }

nav {
  background-color: GhostWhite;
  padding: 0.5% 0%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

a {
  font-family: "Montserrat", sans-serif;
  color: #333366;
  // color: black;
  // color: whitesmoke;
  // font-weight: bold;
}

a:hover {
  color: #333366;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 10px;
  text-decoration: underline;
  // text-decoration: none;
}

.navbar-border {
  @media (min-width: 768px) {
    border: 1px ridge #333366;
    padding: 20px 10px;
    border-radius: 10px;
    overflow: hidden;
  }
}
