///////RESSOURCE ONLY
.ressources-list {
  // border: 10px solid red;
  // width: 30vw;
  margin: auto;
  // margin-top: 10%;
  // display: flex;
  align-self: center;
  align-content: center;
  // position: absolute;
  ul {
    list-style-type: none;
    align-items: center;
    li {
      // font-size: 1.2rem;
      font-size: 1rem;
      margin: 10px;
      color: #444;
      color: gray;
      color: black;
      margin: 50px 0px;
      // text-align: center;
    }
  }
}

@media all and (min-width: 600px) {
}
@media all and (min-width: 800px) {
  .ressources-title {
    h1 {
      margin-top: 10rem;
    }
  }
}
@media all and (min-width: 1200px) {
  .ressources-list {
    width: 80%;
  }
}
@media all and (min-width: 1400px) {
}
