/* ITEM SECTION */
.item {
  // width: 10px;
  border: 1px grey double;
  background-color: rgba(245, 245, 245, 0.8);
  display: flex;
  justify-content: center;
  align-content: center;
  // margin: auto;
  // width: 33vw;
  // height: 33vw;
  /* max-width: 600px; */
  /* max-height: 600px; */
  text-align: center;
}
.item a {
  text-decoration: none;
  color: #555555;
  /* font-size: medium; */
  /* font-weight: 100; */
  line-height: 2rem;
}
.item img {
  padding-top: 30px;
}

/* ITEMS SECTION */
.items {
  width: 99%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin: auto;
  // border: 10px solid #ff0000;
  // text-align: center;
  justify-items: center;
}
