// Version SCSS 22/07/2020
$opacityBackground: 0.6;
$blue-color: #333366;

@import "./component-style";
@import "./homepage";
@import "./ressources";
@import "./contactus";
@import "./navbar";
@import "./items";
@import "./counter";

body {
  /* background-color: #adfcf9; */
  margin: 0;
  padding: 0;
  background-color: GhostWhite;
  // background: linear-gradient(
  //   131deg,
  //   rgba(51, 204, 204, $opacityBackground) 0%,
  //   rgba(51, 204, 204, $opacityBackground) 50%,
  //   rgba(19, 128, 128, $opacityBackground) 50%,
  //   rgba(19, 128, 128, $opacityBackground) 72%,
  //   rgba(51, 204, 204, $opacityBackground) 72%,
  //   rgba(51, 204, 204, $opacityBackground) 100%
  // );
  background-attachment: scroll;
  background-attachment: fixed;

  overflow-y: scroll;
}
