@charset "UTF-8";
.header-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 60vh;
}

.header-banner h1 {
  z-index: 1;
  position: absolute;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: ghostwhite;
  font-size: 4rem;
}

.form {
  margin: 10% 10px;
  position: relative;
  height: 70px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  background-color: ghostwhite;
}

.form label {
  position: absolute;
  color: black;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #333366;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.form-focus label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content-name-focus {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #333366;
}

.formTextArea {
  height: 140px;
}

.formTextArea textarea {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  background-color: ghostwhite;
  resize: none;
}

.formTextArea-focus {
  -webkit-transform: translateY(-500%);
          transform: translateY(-500%);
  font-size: 14px;
  color: #333366;
}

.homepage {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.homepage h1,
.homepage h2,
.homepage p {
  color: white;
}

.homepageUpper {
  background-image: url("../img/landscape_mountain_resize.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepageUpper h1 {
  font-size: 4rem;
}

.homepageUpper h2 {
  font-size: 2rem;
}

.homepageUpper Button {
  margin-top: 30px;
  font-size: 1.5rem;
}

.homepageUpper div:nth-child(1) {
  margin-bottom: 100px;
  margin-left: 5%;
}

.div-img {
  display: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  bottom: -50px;
}

.div-img img {
  width: 80%;
}

.homepageDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3rem;
}

.homepageDown p:nth-child(1) {
  font-size: 1.3rem;
  color: #444;
}

.homepageDown p:nth-child(2) {
  font-size: 1.1rem;
  color: grey;
  font-style: italic;
}

.homepageDown Button {
  margin-right: 2%;
  font-size: 1rem;
}

@media all and (min-width: 600px) {
  .div-img {
    display: block;
  }
}

@media all and (min-width: 1200px) {
  .homepageUpper {
    min-height: 60vh;
    position: relative;
  }
  .homepageUpper div:nth-child(1) {
    margin-bottom: 100px;
    margin-left: 20%;
  }
  .homepageUpper div:nth-child(2) {
    right: 10%;
    position: absolute;
  }
  .homepageUpper h1 {
    font-size: 6rem;
  }
  .homepageUpper h2 {
    font-size: 2.5rem;
  }
  .homepageUpper Button {
    font-size: 2rem;
  }
  .div-img {
    display: block;
  }
  .div-img img {
    width: 100%;
  }
  .homepageDown {
    margin-left: 20%;
  }
}

.ressources-list {
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.ressources-list ul {
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ressources-list ul li {
  font-size: 1rem;
  margin: 10px;
  color: #444;
  color: gray;
  color: black;
  margin: 50px 0px;
}

@media all and (min-width: 800px) {
  .ressources-title h1 {
    margin-top: 10rem;
  }
}

@media all and (min-width: 1200px) {
  .ressources-list {
    width: 80%;
  }
}

.contactus .contactus-form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50vw;
  margin-top: 10vh;
  margin: auto;
  margin-bottom: 50px;
}

.contactus .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactus .form-row div {
  width: 48%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}

.contactus .form-select {
  width: 100%;
  height: 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* Remove default arrow */
  background-color: ghostwhite;
  border: none;
  border-bottom: 1px solid #333366;
}

/* NAVBAR SECTION */
nav {
  background-color: GhostWhite;
  padding: 0.5% 0%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.navbarlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarlist li {
  list-style-type: none;
}

.navbarulleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarulleft li {
  padding: 5px;
  cursor: pointer;
}

.navbarulmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbarulmenu a {
  font-weight: bold;
  color: #333366;
  font-family: "Montserrat", sans-serif;
}

.navbarulmenu a:hover {
  text-decoration-thickness: 0.1em;
  text-underline-offset: 10px;
  text-decoration: underline;
}

.navbarlist li {
  margin: 0px 1px;
}

.navbarulmenu li {
  margin: 10px;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-connexion {
  border: 1px ridge #333366;
  padding: 20px 10px;
  border-radius: 10px;
  overflow: hidden;
}

.navbar-lang {
  position: relative;
}

.navbar-lang ul {
  position: absolute;
  padding: 0;
  display: none;
}

.navbar-lang:hover > ul,
.navbar-lang ul:hover {
  display: block;
}

.navbar-lang:after {
  content: " ▼";
  font-size: 12px;
}

.flag {
  width: 20px;
}

.ctg-flex {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: url("../img/pexels-photo-2832039.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.group-button {
  margin: 0 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 10%;
}

.group-button :hover {
  font-weight: bold;
}

.group-total {
  border: 1px gray solid;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 10%;
}

.group-total * {
  margin: 2px;
  cursor: pointer;
}

.group-total h3 {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .group-button {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .group-button {
    display: none;
  }
}

/* ITEMS SECTION */
.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 25px;
}

/* ITEM SECTION */
.item {
  background-color: rgba(245, 245, 245, 0.8);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 99%;
}

.item a {
  text-decoration: none;
  color: #555555;
  line-height: 2rem;
}

.item img {
  padding-top: 30px;
}

@media all and (min-width: 600px) {
  .items {
    width: 95%;
  }
}

@media all and (min-width: 800px) {
  .items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 90%;
  }
}

@media all and (min-width: 1200px) {
  .items {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
  }
}

@media all and (min-width: 1400px) {
  .items {
    width: 90%;
  }
}

/* COUNTER SECTION */
.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px #6c757d solid;
}

.counter span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.counter * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  /* background-color: #adfcf9; */
  margin: 0;
  padding: 0;
  background-color: GhostWhite;
  background-attachment: scroll;
  background-attachment: fixed;
  overflow-y: scroll;
}
/*# sourceMappingURL=style1.css.map */